@import "tailwindcss";

@theme {
  /* Animation très lente pour des reflets mouvants */
  --animate-blob-slow: blob 20s infinite alternate;

  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1) rotate(0deg);
      opacity: 0.4;
    }

    50% {
      transform: translate(50px, -30px) scale(1.2) rotate(180deg);
      opacity: 0.2;
    }

    100% {
      transform: translate(-20px, 50px) scale(0.9) rotate(360deg);
      opacity: 0.5;
    }
  }
}

body {
  background-color: #0a0a0a;
  /* Noir profond */
  color: #ffffff;
  overflow-x: hidden;
  /* Texture de bruit subtile sur tout le fond pour le réalisme */
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.05'/%3E%3C/svg%3E");
}

/* Masquer la scrollbar */
@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}